.header {
    padding: 24px;
    background: transparent;
    text-align: right;
}
.header-connect {
    background: linear-gradient(93.87deg, #F6AA17 -5.07%, #B050DA 98.15%);
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    outline: none;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
}
.header-connect:hover {
    background: linear-gradient(93.87deg, #f65617 -5.07%, #c462ee 98.15%);
}