.foundry {
    width: 70%;
    margin: auto;
}
.foundry-header {
    display: flex;
    align-items: center;
}
.foundry-header img {
    width: 90px;
    height: 90px;
    margin-right: 24px;
}
.foundry-header span:first-child {
    display: block;
    font-weight: 600;
    font-size: 42px;
    line-height: 61px;
    color: #fff;
}
.foundry-header span:nth-child(2) {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #C9CBD1;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px){
    .foundry {
        width: 90%;
    }
    .foundry-header span:first-child {
        font-size: 21px;
        line-height: 25px;

    }
    .foundry-header span:nth-child(2) {
        font-size: 14px;
        line-height: 12px;

    }
    .foundry-header img {
        width: 60px;
        height: 60px;
    }
  }