.foundry {
    width: 70%;
    margin: auto;
}
.foundry-header {
    display: flex;
    align-items: center;
}
.foundry-header img {
    width: 90px;
    height: 90px;
    margin-right: 24px;
}
.foundry-header span:first-child {
    display: block;
    font-weight: 600;
    font-size: 42px;
    line-height: 61px;
    color: #fff;
}
.foundry-header span:nth-child(2) {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #C9CBD1;
}
.foundry-epoch {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foundry-epoch-current {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #B95CBF;
}
.foundry-epoch-next > span:first-child {
    text-align: center;
    font-weight: 600;
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #DAC08F;
}
.foundry-epoch-next > span:nth-child(2) {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #F6AA16;
}
.foundry-label1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #8F929A;
}
.foundry-value1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.foundry-block-mid {
    display: flex;
}
.foundry-block-mid > div {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.foundry-earn-stake {
    border: 1px solid #8F929A;
    width: 49%;
    border-radius: 10px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.foundry-labe2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #DAC08F;
}
.foundry-value2 {
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}
.foundry-unit {
    margin-left: 4px;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #8F929A;
}
.foundry-btn {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    padding: 8px 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
}
.btn-no-bg {
    cursor: pointer;
    background: transparent;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FF7900;
    margin-right: 40px;
    outline: none;
    border: none;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px){
    .foundry {
        width: 90%;
    }
    .foundry-header span:first-child {
        font-size: 21px;
        line-height: 25px;

    }
    .foundry-header span:nth-child(2) {
        font-size: 14px;
        line-height: 12px;

    }
    .foundry-header img {
        width: 60px;
        height: 60px;
    }
    .foundry-earn-stake {
        display: block;
        width: 100%;
    }
  }